@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=PT+Sans&family=Spartan:wght@300&display=swap');

h1{
    font-family: 'Spartan', sans-serif;
}

.card{
    border-radius: 12px;
    background: cbdfbd;
    background-size: 20rem;
    box-shadow:  5px 5px 12px #5a5a5a,
                 -5px -5px 12px #ffffff;
}
.flag{
    border-radius: 74px;
    background: cbdfbd;
    background-size: 20rem;
    box-shadow:  5px 5px 12px #5a5a5a,
                 -5px -5px 12px #ffffff;
}
.text{
 font-size: 1rem;
 background-color: #76c893;
 padding-top: 5px;
 
}