@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=PT+Sans&display=swap');

.landing{
    font-family: 'Lobster', cursive;
    font-size: 10em;
    color: bisque;
}

.landing2{
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: bisque;
    background-color: rgb(165, 52, 52);
}